#{extends 'main.html' /}
#{set title:'Admin' /}

#{menu id:"admin"/}

<section class="ui raised segment">
  <header class="ui header">
    Member List
  </header>
  <table class = "ui fixed table">
    <thead>
    <tr>
      <th>ID</th>
      <th>To Do</th>
    </tr>
    </thead>
    <tbody>
    <div class="ui bulleted list">
      #{list items:membersList, as:'members'}
      <tr>
        <td>${members.firstname} ${members.lastname}</td>
        <td></td>
      </tr>
      #{/list}
    </div>
    <div class="ui bulleted list"></div>
    </tbody>
  </table>
</section>
</form>