#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}
<div class="ui equal width padded grid">
  <div class = "four wide column">
    <div class="ui card ">

      <div class="image">
        <img src="public/images/arnold-flex.png">
      </div>
      <div class="content">
        <a class="header">${member.firstname} ${member.lastname}</a>
        <div class="meta">
          <span class="date">Joined in 2017</span>
        </div>

        <table class="ui celled table">
          <thead>
          <tr>
            <th>Details</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td >Email:</td>
            <td>${member.email}</td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>${member.address}</td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>${member.gender}</td>
          </tr>
          <tr>
            <td>Height:</td>
            <td>${member.height}</td>
          </tr>
          <tr>
            <td>Weight:</td>
            <td>${member.latestAssessment().weight}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class = "twelve wide align right column padded">
    <section class="ui raised segment">
      <form class="ui stacked segment form">
        <div class="ui three statistics">
          <div class="statistic">
            <div class="value">
              <i class="${member.idealBodyWeight()} dashboard icon"></i>
            </div>
            <div class="label">
              Ideal Weight Indicator
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="heartbeat icon"></i>${member.getBMI()}
            </div>
            <div class="label">
              BMI
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="doctor icon"></i>
            </div>
            <div class="label">
              ${member.getBMICategory()}
            </div>
          </div>
        </div>
      </form>

      <table class = "ui celled table middle aligned segment">
        <thead>
        <tr>
          <th>Weight</th>
          <th>Chest</th>
          <th>Thigh</th>
          <th>Upper Arm</th>
          <th>Waist</th>
          <th>Hips</th>
          <th>Trend</th>
          <th>Comments</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          #{list items:assessmentList, as:'assessments'}
          <tr>
            <td>${assessments.weight}</td>
            <td>${assessments.chest}</td>
            <td>${assessments.thigh}</td>
            <td>${assessments.upperArm}</td>
            <td>${assessments.waist}</td>
            <td>${assessments.hips}</td>
            <td><i class="large ${member.getTrend(assessments.id)} icon"></i></td>
            <td>${assessments.comment}</td>
            <td><a href="/dashboard/${member.id}/deleteAssessment/${assessments.id}" class="ui icon button"><i class="trash icon"></i></a></td>
          </tr>
          #{/list}
        </tbody>
      </table>
      <div class="ui two column">
        <form class="ui stacked segment form" action="/dashboard/addAssessment" method="POST">
          <h3 class="ui header">Add Assessment</h3>
          <div class="three fields">
            <div class="field">
              <label>&nbsp; &nbsp; &nbsp; Weight</label>
              <input placeholder="Weight" type="text" name="weight">
            </div>
            <div class="field">
              <label>&nbsp; &nbsp; &nbsp; Chest</label>
              <input placeholder="Chest" type="text" name="chest">
            </div>
            <div class="field">
              <label>&nbsp; &nbsp; &nbsp; Thigh</label>
              <input placeholder="Thigh" type="text" name="thigh">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>&nbsp; &nbsp; &nbsp; Upper Arm</label>
              <input placeholder="Upper Arm" type="text" name="upperArm">
            </div>
            <div class="field">
              <label>&nbsp; &nbsp; &nbsp; Waist</label>
              <input placeholder="Waist" type="text" name="waist">
            </div>
            <div class="field">
              <label>&nbsp; &nbsp; &nbsp; Hips</label>
              <input placeholder="Hips" type="text" name="hips">
            </div>
          </div>
          <button class="ui blue submit button">Submit</button>
        </form>
      </div>
      <section class="ui raised segment">
        <header class="ui header">
          Workout Notes
        </header>
        </header>
        <table class = "ui fixed table">
          <thead>
          <tr>
            <th>Notes</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <div class="ui bulleted list">
            #{list items:todoList, as:'todo'}
            <tr>
              <td>${todo.comment}</td>
              <td> <a href="/dashboard/${member.id}/deleteTodo/${todo.id}" class="ui tiny red button"> Delete </a> </td>
            </tr>
            #{/list}
          </div>
          </tbody>
        </table>
      </section>

      <form class="ui stacked segment form" action="/dashboard/addTodo" method="POST">
        <div class="field">
          <label>Add Note</label>
          <input placeholder="Note" type="text" name="comment">
        </div>
        <button class="ui blue submit button">Pin Note</button>
      </form>
    </section>
  </div>
</div>

