#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{trainermenu id:"trainerboard"/}
<div class="ui equal width padded grid">
  <div class = "four wide column">
    <div class="ui card ">

      <div class="image">
        <img src="/public/images/arnold-flex.png">
      </div>
      <div class="content">
        <a class="header">${member.firstname} ${member.lastname}</a>
        <div class="meta">
          <span class="date">Joined in 2017</span>
        </div>

        <table class="ui celled table">
          <thead>
          <tr>
            <th>Details</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td >Email:</td>
            <td>${member.email}</td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>${member.address}</td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>${member.gender}</td>
          </tr>
          <tr>
            <td>Height:</td>
            <td>${member.height}</td>
          </tr>
          <tr>
            <td>Weight:</td>
            <td>${assessmentList.last().weight}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class = "twelve wide align right column padded">
    <section class="ui raised segment">
      <form class="ui stacked segment form">
        <div class="ui three statistics">
          <div class="statistic">
            <div class="value">
              <i class="${weightIndicator} dashboard icon"></i>
            </div>
            <div class="label">
              Ideal Weight Indicator
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="heartbeat icon"></i>${member.getBMI()}
            </div>
            <div class="label">
              BMI
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="doctor icon"></i>
            </div>
            <div class="label">
              ${member.getBMICategory()}
            </div>
          </div>
        </div>
      </form>

      #{list items:assessmentList, as:'assessments'}
      <div class="ui releaxed divided items">
        <div class="item">
          <div class="content">
            <div class="ui horizontal divider">
              <i class="bar chart icon"></i>
              Assessment #${assessments.id}
            </div>
            <table class = "ui celled table middle aligned segment">
              <thead>
              <tr>
                <th>Weight</th>
                <th>Chest</th>
                <th>Thigh</th>
                <th>Upper Arm</th>
                <th>Waist</th>
                <th>Hips</th>
                <th>Comments</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>${assessments.weight}</td>
                <td>${assessments.chest}</td>
                <td>${assessments.thigh}</td>
                <td>${assessments.upperArm}</td>
                <td>${assessments.waist}</td>
                <td>${assessments.hips}</td>
                <td>${assessments.comment}</td>
              </tr>
              </tbody>
            </table>
            <div class="extra">
              <div class="ui form">
                <div class="field">
                  <label>Add Comment</label>
                  <input placeholder="Comment" type="text" name="comment">
                </div>
              </div>
              <div class="ui left floated primary button">
                Add Comment
              </div>
            </div>
          </div>
        </div>
      </div>

      #{/list}
    </section>
  </div>
</div>

