#{extends 'main.html' /}
#{set title:'Trainer' /}

#{trainermenu id:"trainermenu"/}

<section class="ui raised segment">
  <header class="ui header">
    List of Members
  </header>
    <div class="ui relaxed divided list stacked segment">
      #{list items:membersList, as:'members'}
        <div class="item">
          <i class="large ${members.gender.toLowerCase()} middle aligned icon"></i>
          <div class="content">
            <a href="/trainerassess/${members.id}">${members.firstname} ${members.lastname} </a>
            <a href="/trainerboard/deleteMember/${members.id}" class="ui mini red icon button"><i class = "trash outline icon"></i></a>
            <div class="description">${members.assessmentList.size()} assessments</div>
          </div>

        </div>
      #{/list}
    </div>
</section>
